@{
    ViewBag.Title = "Chess";
}
<h2>
    Chess</h2>
<div id="game" style="display: inline">
    <div>
        <canvas id="board">
        </canvas>
    </div>
    <div id="log"></div>
    <br />
    <div>
        <input value="Reset" id="cmdReset" type="button" />
    </div>
</div>
<div id="notSupported" style="display: none">
    <h3>
        Sorry, your browser is too old. It does not support HTML5 canvas.</h3>
    <p>
        You can download <a href="http://www.microsoft.com/download/en/default.aspx">IE9</a></p>
</div>
@Scripts.Render("~/bundles/Chess")
